<!DOCTYPE html>
<html>
<head>
  <title>Buggerall</title>
  <%= stylesheet_link_tag    "buggerall/application", :media => "all" %>
  <%= javascript_include_tag "buggerall/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
